@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body {
  background-color: var(--bg-color);
}

.nav {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav ul li {
  padding: 0 12px 0 0;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.hero_christmas_beer {
  background-color: var(--yellow);
}

.hero_top_right {
  background-color: var(--orange);
}

.hero_buttom_right {
  background-color: var(--lt-blue);
}
